@model LicensePlatesDBFirst.Models.Activeness

<div class="form-group">
    <div style="margin-left:25px;">
        @Html.CheckBoxFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
        @Html.Label(Model.Name)
    </div>

    @Html.EditorFor(model => model.CountryId, new { htmlAttributes = new { @style = "display:none;" } })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @style = "display:none;" } })
</div>
